* {
  background-color: rgb(26, 26, 26);
  box-sizing: border-box;
  margin: 0;
}
header{
 
  font-family: 'Times New Roman', Times, serif;
  height: 50px;
  padding: 10px;
  
}
a{
  text-decoration: none;
  color: white;
}

#search{

  float: right;
  font-size: 20px;
  padding-right: 3%;
}


header{
  background-color: rgb(30, 30, 30);
  font-size: 30px;
  text-decoration: none;
  padding-left: 40%;

}

 #sidenav {
  width: 10%;
  border: 2px solid rgb(5, 5, 5); /* 2px thick solid black border */
  border-radius: 2%;
  margin: 5px;
  padding-bottom: 175%;
  float: left;
}